---
import FrameworkGrid from '@/components/framework-grid';
import { Container } from '@/components/ui/container';
import Section from '@/components/ui/section.astro';
import { Caption, Heading, Paragraph } from '@/components/ui/typography';
---

<Section
  id="frameworks"
  aria-labelledby="frameworks-heading"
  hasBorderTop
  hasGlowEffect
>
  <Container>
    <div class="mb-16 flex flex-col items-center text-center">
      <Caption id="frameworks-heading">Frameworks</Caption>
      <Heading>
        Powering your projects with <br class="lg:hidden" /> the right tools
      </Heading>
      <Paragraph>
        Explore our curated selection of frameworks that enable us to <span
          class="text-neutrals-100">deliver high-quality digital solutions</span
        > tailored to your needs.
      </Paragraph>
    </div>
    <FrameworkGrid client:visible />
  </Container>
</Section>
